[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "exiftoolr"]
	path = exiftoolr
	url = https://github.com/joshobrien/exiftoolr
[submodule "gdalUtilities"]
	path = gdalUtilities
	url = https://github.com/joshobrien/gdalutilities
[submodule "rasterDT"]
	path = rasterDT
	url = https://github.com/joshobrien/rasterdt
